body {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.button-grid {
  width: 232px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 10px;
  }

  button {
    padding: 10px;
    height: 50px;
    width: 50px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    background-color: #525151;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
  button:hover {
    background-color: rgb(111, 110, 110);
  }

  button:active {
    background-color: rgb(232, 232, 232);
  }

  #operator {
    background-color: orange;
  }
  #top {
    background-color: rgb(175, 175, 175);
    color: black;
  }

  #top:hover {
    background-color: rgb(111, 110, 110);
  }

  #top:active {
    background-color: rgb(232, 232, 232);

  }

  #operator:hover {
    background-color: rgb(186, 123, 6);
  
  }

  #operator:active {
    background-color: rgb(232, 232, 232);
  }

.calculator {
    width: 232px;
    background-color: #000000;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 20px auto;
  }

.display {
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    text-align: right;
    font-size: 20px;
    padding: 4px;
  }

  .equals {
    width: 45%;
    border-radius: 25px;
  }